
.app-container {
    display: flex;
    background-color: rgb(202, 15, 15);
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid hsl(46, 61%, 93%);
    text-align: center;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color: rgb(247, 86, 65);
  }
  
  td {
    background-color: rgb(253, 205, 205);
  }
  td.one {
    background-color: rgb(240, 164, 164);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }